@charset "UTF-8";

@font-face {
    font-family: poppins;
    src: url(Poppins/Poppins-Regular.ttf) format(truetype);
}

*{
    font-family: 'poppins';
    margin: 0;
    padding: 0;
}

#titulo{
    color: #642e6e;
    margin-left: 7%;
}

#subtitulo{
    color: #642e6e;
    margin-left: 8%;
}

fieldset{
    border: 0;
}

body{
    background-color: #ffd2fc;
    font-size: 1em;
    color: #9d49ad;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #9d49ad;
}

fieldset .grupo .campo{
    float: left;
    margin-right: 1em;
}

input[type="text"], input[type="email"], select, textarea{
    padding: 0.2em;
    border: 1px solid #9c49adb9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.171);
    display: block;
}

.campo select option{
    padding-left: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background-color: #ffd2fc;
}

button{
    font-size: 1.1em;
    background-color: #ffffff;
    border: 1px solid #9c49adb9;
    color: #9d49ad;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.171);
    padding: 0.2em 0.6em;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    margin-bottom: 1em;
    align-items: center;
}

button:hover{
    background-color: #9c49ad41;
    color: #642e6e;
}

.check{
    display: inline-block;
}